<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menuManager>
    <generator>
        <ingredientID>12</ingredientID>
        <menuItemID>9</menuItemID>
        <orderID>3</orderID>
        <customerID>10</customerID>
    </generator>
    <itemMap>
        <entry>
            <key>ITEM32</key>
            <value>
                <itemName>Medium Fries </itemName>
                <recipe>
                    <name>Medium Fries </name>
                    <recipeText>1. Deep fry fries. </recipeText>
                    <ingredientIDs>
                        <entry>
                            <key>INGR4</key>
                            <value>2</value>
                        </entry>
                    </ingredientIDs>
                    <dietaryInformation>VEGETARIAN</dietaryInformation>
                    <dietaryInformation>VEGAN</dietaryInformation>
                    <dietaryInformation>GLUTEN_FREE</dietaryInformation>
                </recipe>
                <markupCost>NZD 3.00</markupCost>
                <id>ITEM32</id>
                <inMenu>true</inMenu>
                <itemType>SIDE</itemType>
                <edited>false</edited>
            </value>
        </entry>
        <entry>
            <key>ITEM15</key>
            <value>
                <itemName>Coke Can (330mL)</itemName>
                <recipe>
                    <name>Coke Can (330mL)</name>
                    <recipeText>No recipe required</recipeText>
                    <ingredientIDs>
                        <entry>
                            <key>INGR8</key>
                            <value>1</value>
                        </entry>
                    </ingredientIDs>
                    <dietaryInformation>VEGETARIAN</dietaryInformation>
                    <dietaryInformation>VEGAN</dietaryInformation>
                    <dietaryInformation>GLUTEN_FREE</dietaryInformation>
                </recipe>
                <markupCost>NZD 1.40</markupCost>
                <id>ITEM15</id>
                <inMenu>true</inMenu>
                <itemType>BEVERAGE</itemType>
                <edited>false</edited>
            </value>
        </entry>
        <entry>
            <key>ITEM12</key>
            <value>
                <itemName>Chicken Burger</itemName>
                <recipe>
                    <name>Chicken Burger</name>
                    <recipeText>1. Deep Fry chicken patty 
2. Add cheese on top of patty
3. Fry buns
4. Fry onions
5. Get one bun
6. Place chicken patty on bun
7. Put tomato sauce
8. Put cheese
9. Put onions
10. Put other bun on top</recipeText>
                    <ingredientIDs>
                        <entry>
                            <key>INGR1</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>INGR3</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>INGR2</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>INGR5</key>
                            <value>2</value>
                        </entry>
                        <entry>
                            <key>INGR7</key>
                            <value>1</value>
                        </entry>
                    </ingredientIDs>
                </recipe>
                <markupCost>NZD 4.30</markupCost>
                <id>ITEM12</id>
                <inMenu>true</inMenu>
                <itemType>MAIN</itemType>
                <edited>false</edited>
            </value>
        </entry>
        <entry>
            <key>ITEM18</key>
            <value>
                <itemName>Sprite Can (330mL)</itemName>
                <recipe>
                    <name>Sprite Can (330mL)</name>
                    <recipeText>No recipe required</recipeText>
                    <ingredientIDs>
                        <entry>
                            <key>INGR9</key>
                            <value>1</value>
                        </entry>
                    </ingredientIDs>
                    <dietaryInformation>VEGETARIAN</dietaryInformation>
                    <dietaryInformation>VEGAN</dietaryInformation>
                    <dietaryInformation>GLUTEN_FREE</dietaryInformation>
                </recipe>
                <markupCost>NZD 1.40</markupCost>
                <id>ITEM18</id>
                <inMenu>true</inMenu>
                <itemType>BEVERAGE</itemType>
                <edited>false</edited>
            </value>
        </entry>
        <entry>
            <key>ITEM38</key>
            <value>
                <itemName>Fruit Juice (250mL)</itemName>
                <recipe>
                    <name>Fruit Juice (250mL)</name>
                    <recipeText>No recipe required</recipeText>
                    <ingredientIDs>
                        <entry>
                            <key>INGR10</key>
                            <value>1</value>
                        </entry>
                    </ingredientIDs>
                    <dietaryInformation>VEGETARIAN</dietaryInformation>
                    <dietaryInformation>VEGAN</dietaryInformation>
                    <dietaryInformation>GLUTEN_FREE</dietaryInformation>
                </recipe>
                <markupCost>NZD 1.40</markupCost>
                <id>ITEM38</id>
                <inMenu>true</inMenu>
                <itemType>BEVERAGE</itemType>
                <edited>false</edited>
            </value>
        </entry>
        <entry>
            <key>ITEM28</key>
            <value>
                <itemName>Vegetarian Burger</itemName>
                <recipe>
                    <name>Vegetarian Burger</name>
                    <recipeText>1. Fry vegetarian patty 
3. Fry buns
4. Fry onions
5. Get one bun
6. Place vegeatarian patty on bun
7. Put tomato sauce
8. Put lettuce slice 
9. Put onions
10. Put other bun on top</recipeText>
                    <ingredientIDs>
                        <entry>
                            <key>INGR1</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>INGR3</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>INGR5</key>
                            <value>2</value>
                        </entry>
                        <entry>
                            <key>INGR25</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>INGR11</key>
                            <value>1</value>
                        </entry>
                    </ingredientIDs>
                    <dietaryInformation>VEGETARIAN</dietaryInformation>
                    <dietaryInformation>VEGAN</dietaryInformation>
                </recipe>
                <markupCost>NZD 4.00</markupCost>
                <id>ITEM28</id>
                <inMenu>true</inMenu>
                <itemType>MAIN</itemType>
                <edited>false</edited>
            </value>
        </entry>
    </itemMap>
</menuManager>
