
@import url("jfx-combobox.css");
@import url("jfx-table-view.css");
@import url("jfx-button.css");
@import url("jfx-textfield.css");
@import url("jfx-checkbox.css");
@import url("jfx-tabpane.css");

/*
This is for the main back ground
 */
.root {
    /*-fx-background-color:  #ECE6CE;*/
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-text-fill: rgba(58, 62, 89, 1);

}

/*
This is for all text
 */
.text {
    -fx-text-fill: rgba(58, 62, 89, 1);
}

/*
This is for all label
 */
.label {
    -fx-text-fill: rgba(58, 62, 89, 1);
}