/*TODO change colours*/

.jfx-text-field
{
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #fffd8c;
}

.text-field
{
    -fx-prompt-text-fill: rgba(58, 62, 89, 1);
    -fx-text-fill:rgba(58, 62, 89, 1);
    -fx-highlight-fill: #3399ff;
}

.text-field .input-line
{
    -fx-background-color: #fffd8c;
}