/*TODO change colours*/

.jfx-text-field
{
    -jfx-focus-color: #4eb769;
}

.text-field
{
    -fx-prompt-text-fill: #fffd8c;
    -fx-text-fill: #fffd8c;
    -fx-highlight-fill: #4eb769;
}

.text-field .input-line
{
    -fx-background-color: #fffd8c;
}