.jfx-button {
    -jfx-button-type: FLAT;
    -fx-background-color: rgba(249,172,104, 1);
    -fx-text-fill: rgba(58,62,89, 1);
    -fx-font-size: 16px;
    -fx-pref-width: 241px;
    -fx-pref-height: 270px;
}
/*
\\TODO MAKE SURE THE BUTTONS CHANGE WHEN RESIZING
 */
